.card_shadow {
	padding: 40px;
	background-color: black;
	position: static;
}
.card_shadow:hover {
	box-shadow: 5px 10px 8px #888888;
	position: relative;
}
.mybg {
	background: url(./bgimg.jpg);
	background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	z-index: -1;
}
